body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #74ebd5, #9face6);
}

.container {
  text-align: center;
  margin-top: 50px;
}

h1 {
  color: #222;
}


.card {
  background: white;
  padding: 30px;
  margin: auto;
  width: 300px;
  border-radius: 15px;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.2);
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #45a049;
}

.result {
  margin-top: 20px;
  background: white;
  padding: 20px;
  display: inline-block;
  border-radius: 12px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  color: #555;
  box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
}